window.bar {
    font-family: "JetBrains Mono Nerd Font", font-awesome, Roboto, Helvetica, Arial, sans-serif  ;
  font-size: 16;
  color: white;
}



.Center, .Right, .Left {
  margin-top: -3px;
  margin-bottom: 6px;
  padding-bottom: 5px;
  padding-top: 3px;
  padding-right: 4px;
  padding-left: 4px;
  background-color:#1e1e2e ;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1 solid rgba(203, 166, 247, 1.0);
  box-shadow: 0 0 3px 4px rgba(203, 166, 247, 1.0);
}

.Left {
  margin-left: -2;
  padding-left: 3px;
  border-bottom-left-radius: 0px;
}

.Right {

  margin-right: -2;
  padding-right: 3px;
  border-bottom-right-radius: 0px;
}

button {
    min-width: 0;
    color: #FFFFFF;
    border:transparent;
    box-shadow: none;
    background: transparent;
    border-radius: 40;
}



.workspaces button.focused {
  border: #cba6f7;
    background: #cba6f7;
    border-radius: 40;
}

button:active {
    background-color: #cba6f7;
}

button:hover {
    background-color: #cba6f7;
}


label {
}

.clock {
font-size: 20px;
border-radius: 10px;
padding-left: 6px;
padding-right: 6px;
background: transparent;
}



.client-title {
}

.notification {
}

.battery {
}


levelbar block,
highlight {
  background: #cba6f7;
}

.battery trough {
  background-color: #9399b2;
  border-radius: 40px;
  border: none
}


.battery levelbar block {
  min-height: 0.9em;
 background-color: #a6e3a1;
 color: #000000;
 border: #1e1e2e;
 border: 0.3em;
 border-radius: 40;
 border-color: #1e1e2e;
}

.battery levelbar block.empty {

 border-color: #1e1e2e;
  min-height: 0.9em;
 background-color: #f38ba8; 
}

.battery label {
 color: #a6e3a1;
 font-size: 15px ;
 margin-right: 0.6em;
}

.sound:not(.sound-body) {
  border-radius: 14px;
}



.sound-box {
  background-color: #1e1e2e; 
  color: #cdd6f4;
  border-radius: 14px;
  border-width: 7px;
  border-radius: 14px;
  box-shadow: 0 0 3px 4px rgba(203, 166, 247, 1.0);
  margin: 20px;
  margin-left:10px;
  font-size: 17px;
}

.sound-header label {
  color: #cdd6f4;
  border-width: 5px;
  padding: 0px 0px;
}

.sound-header label:hover {
  padding-top:1px;
  background-color: rgba(203, 166, 247, 0.4);
}

.sound-header button:hover {
}





.sound-box label {
  margin-top: 8px;
  margin-bottom: 6px;
}

.sound-box scale {
  background-color: #1e1e2e;
}


.sliders trough {
    background-color: #1e1e2e;
    border-color: #b4befe;
    border-radius: 24px;
    min-height: 5px;
}

.sliders highlight {
  background-color: rgb(203, 166, 247);
  border-color:#cba6f7;
  border-radius: 14px;
  background: rgb(203, 166, 247);
}

.sliders slider {
  color: #cba6f7;
  border: none;
  background:#cba6f7;
}



